<!DOCTYPE html>
<html>
  <head>
  	<meta name="renderer" content="webkit">
  	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <meta name="keywords" content="html5 javscript 音乐可视化">
  </head>
  <body>
    <div id="background"></div>
  	<header>
  		<h1><%= title %></h1>
<ul class="type" id="type">
   <li data-type="glim" class="selected">Glim</li>
   <li data-type="column" >Column</li>
   <li data-type="dot">Dot</li>
   <li data-type="star">Star</li>
</ul>
<br>
 <ul class="type" id="type">
   <li data-type="bar">Bar</li>
   <li data-type="bubble">Bubble</li>
   <li data-type="spot">Spot</li>
   <li data-type="cardiogram">Cardio</li>
</ul>
  		<p>
  			Volume <input id="volume" type="range" min="0" max="100" value="60">
  		</p>
  	</header>

	<div class="left">
		<ul id="list">
			<% music.forEach(function(name){ %>
				<li title="<%= name %>"><%= name %></li>
			<% })%>
		</ul>
	</div>

	<div class="right" id="box">
	</div>

    <div id="file-list-wrapper">
        <div class="header">Music List</div>
        <ul id="file-list">
            	<% music.forEach(function(name){ %>
				<li title="<%= name %>"><%= name %></li>
			<% })%>
        </ul>
    </div>

    <div id="effect-list-wrapper">
        <div class="header">Effect List</div>
        <ul id="effect-list">
            <li data-type="glim" class="selected">Glim<img src="images/e3.jpg"></li>
  			<li data-type="column">Column<img src="images/e6.jpg"></li>
  			<li data-type="dot">Dot<img src="images/e4.jpg"></li>
  			<li data-type="star">Star<img src="images/e7.jpg"></li>
          	<li data-type="bar">Bar<img src="images/e1.jpg"></li>
  			<li data-type="bubble">Bubble<img src="images/e5.jpg"></li>
  			<li data-type="spot">Spot<img src="images/e0.jpg"></li>
  			<li data-type="cardiogram">Cardio<img src="images/e2.jpg"></li>
        </ul>
    </div>

    <audio id="music" class="hidden" controls></audio>

    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/three.min.js"></script>
	<script type="text/javascript" src="/javascripts/MusicVisualizer.js"></script>
	<script type="text/javascript" src="/javascripts/index.js"></script>

  </body>
</html>
